.banner-image {
    width: 100%;
    height: 650px;
    object-fit: cover;
    margin-top: '';
}

/* MEDIA-QUERIES FURTHER*/

/* //tablet landscape */
@media screen and (min-width: 1024px) and (max-width: 1600px)  {
    .banner-image{
        height: 550px
    }

}

/* //tablet portrait */
@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .banner-image{
        height: 480px

    }
}


/* //smartphone landscape */
@media screen and (min-width: 480px) and (max-width: 767px)  {
    .banner-image{
        height: 430px

    }
}



/* //smartphone portrait */
@media screen and (min-width: 300px) and (max-width: 479px) {
    .banner-image{
        height: 320px

    }
}